{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}


    <!--main content wrapper start-->
    <div class="main-wrapper">

        {% include 'includes/header.html' %}

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-120"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-5 col-lg-7 col-md-12 order-0 order-lg-1">
                        <div class="register-wrap p-5 bg-white shadow rounded-custom mt-5 mt-lg-0 mt-xl-0">
                            <h3 class="fw-medium h4">فرم خود را آپلود</h3>

                            <form method="post" enctype="multipart/form-data" class="mt-4 register-form">
                                {% csrf_token %}

                                {{ form.file.errors }}

                                <div class="row">
                                    <div class="container mt-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="drop-area"
                                                     class="border rounded d-flex justify-content-center align-items-center"
                                                     style="height: 200px; cursor: pointer;">
                                                    <div class="text-center">
                                                        <i class="bi bi-cloud-arrow-up-fill text-primary"
                                                           style="font-size: 48px;"></i>
                                                        <p class="mt-3">
                                                            جهت آپلود فایل کلیک کنید
                                                        </p>
                                                    </div>
                                                </div>

                                                {{ form.file|attr:"class:d-none"|attr:"type:file"|attr:"id:fileElem"|attr:"accept:application/pdf" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-4 d-block w-100">آپلود</button>
                                    </div>
                                </div>
                            </form>

                            <div class="col-12">
                                <a href="{% url 'diagnose:download_file' %}" class="btn btn-primary mt-4 d-block w-100">دانلود</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->

        {% include 'includes/footer.html' %}

    </div>
    <!--main content wrapper end-->

{% endblock %}
