{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
    {% include 'includes/header.html' %}

    <!--main content wrapper start-->
    <div class="main-wrapper">
        <!--hero section start-->
        <section class="hero-section ptb-120"
                 style="background: url('{% static 'img/shape/dot-dot-wave-shape.svg' %}')no-repeat bottom center">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-xl-5 col-lg-5">
                        <div class="hero-content-wrap text-center text-xl-start text-lg-start aos-init aos-animate">
                            <h1 class="fw-bold display-5">راه حل های قدرتمند برای کسب و کار شما</h1>
                            <p class="lead">به طور مداوم هماهنگی بردارهای کیفیت کیفیت با کیفیت خدمات مشتریان مشتری مرکزی
                                مرکز خدمات.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mt-4 mt-xl-0">
                        <div class="hero-img-wrap position-relative">
                            <!--animated shape start-->
                            <ul class="position-absolute animate-element parallax-element shape-service hide-medium">
                                <li class="layer" data-depth="0.03">
                                    <img src="{% static 'img/color-shape/image-1.svg' %}" alt="shape"
                                         class="img-fluid position-absolute color-shape-1">
                                </li>
                                <li class="layer" data-depth="0.02">
                                    <img src="{% static 'img/color-shape/feature-2.svg' %}" alt="shape"
                                         class="img-fluid position-absolute color-shape-2 z-5">
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="{% static "img/color-shape/feature-3.svg" %}" alt="shape"
                                         class="img-fluid position-absolute color-shape-3">
                                </li>
                            </ul>
                            <!--animated shape end-->
                            <div class="hero-img-wrap position-relative">
                                <div class="hero-screen-wrap">
                                    <div class="phone-screen">
                                        <img src="{% static 'img/screen/phone-screen.png' %}" alt="hero image"
                                             class="position-relative img-fluid">
                                    </div>
                                    <div class="mac-screen">
                                        <img src="{% static 'img/screen/mac-screen.png' %}" alt="hero image"
                                             class="position-relative img-fluid rounded-custom">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section end-->

        <!--promo section start-->
        <section class="promo-section ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h2>نتایج کسب شده توسط مشتریان عارضه یابی شریف</h2>
                            <p>هدف عارضه یابی شریف این است که در کوتاه‌ترین بازه زمانی ممکن، تیم و شرکت شما را ارتقا
                                ببخشد و کسب و کارتان را رونق دهد.</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {% for what_do_customers_earn in what_do_customers_earn %}
                        <div class="col-md-6 col-lg-4 mt-4 mb-10 mt-lg-0 mt-md-0">
                            <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom">
                                <div class="promo-card-info mb-4">
                                    <p>{{ what_do_customers_earn.description }}</p>
                                </div>
                                <div class="mt-auto">
                                    <img src="{{ what_do_customers_earn.icon.url }}" width="50" alt="clients"
                                         class="img-fluid me-auto">
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!--promo section end-->

        <!--feature section start-->
        <section class="feature-section-two ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">ویژگی‌ها</h4>
                            <h2>راه حل های قدرتمند برای نیازهای کسب و کار شما </h2>
                            <p>کیوتی کانال های کاربردی را با معماری چند رشته ای ایجاد کنید
                                ساخت</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">پیکسل پرفکت دیزاین</h3>
                                        <p>به تدریج سیستم های گسترده ای را تقویت می کنند در حالیکه سهام سرمایه گذاری شده
                                            است
                                            استقرار وب سایت نصب شده است.
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-fingerprint text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">طراحی مینیمال و مدرن</h3>
                                        <p>به طور چشمگیری معیارهای پیشرفته را بدون خطا آزادانه مدیریت می کند
                                            ساده سازی استاندارد شده
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                            <ul class="img-overlay-list list-unstyled position-absolute">
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0"> ایجاد یک حساب رایگان </h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0"> پیکسل پیگیری ما را نصب کنید </h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0"> ردیابی وب سایت خود را شروع کنید </h6>
                                </li>
                            </ul>
                            <img src="{% static 'img/feature-img3.jpg' %}" alt="feature image"
                                 class="img-fluid rounded-custom">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section two-bg-dark-light ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                        <div class="image-wrap mb-5 mb-md-0 mb-lg-0 mb-xl-0">
                            <img src="{% static 'img/dashboard-img.png' %}" alt="feature img"
                                 class="img-fluid shadow rounded-custom">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="feature-content-wrap">
                            <h4 class="h5 text-primary"> ویژگی های پیشرفته </h4>
                            <h2>گزارش های فروش قابل اجرا برای رشد کسب و کار شما</h2>
                            <p>به طور ذاتی شبکه های شفاف شبکه در حالی که در سراسر جهان پس از نوآورانه، بردارهای کیفیت
                                پایه
                                نصب شده را ایجاد می کنند.</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">پیکسل پرفکت دیزاین</h3>
                                        <p>به تدریج سیستم های گسترده ای را تقویت می کنند در حالیکه سهام سرمایه گذاری شده
                                            است
                                            استقرار وب سایت نصب شده است.
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-fingerprint text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">طراحی مینیمال و مدرن</h3>
                                        <p>به طور چشمگیری معیارهای پیشرفته را بدون خطا آزادانه مدیریت می کند
                                            ساده سازی استاندارد شده
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--our work process start-->
        <section class="work-process ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">پروسه</h4>
                            <h2> ما فرایند کار ما را دنبال می کنیم </h2>
                            <p>با مشتاقانه مهارت های رهبری رسانه های متقابل را برای تجربیات جایگزین درگیر می کند.
                                فعالانه سیستم های عمودی را نسبت به معماری های بصری درایو می کنند.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                        <div class="img-wrap">
                            <img src="{% static 'img/office-img-1.jpg' %}" alt="work process"
                                 class="img-fluid rounded-custom">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                        <ul class="work-process-list list-unstyled">
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-folder-tree fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">مرحله 1</span>
                                    <h3 class="h5 mb-2">برنامه ریزی تحقیق و محتوا</h3>
                                    <p>به تدریج سیستم های گسترده ای را تقویت می کنند در حالیکه سهام سرمایه گذاری شده است
                                        پهنای باند وب، پهنای باند پایه نصب شده است.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-bezier-curve fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">مرحله 2</span>
                                    <h3 class="h5 mb-2">انتشار و اجرا</h3>
                                    <p>به طور چشمگیری مدیران پیشرفته را بدون خطا در سطح جهانی آزاد می کند
                                        هماهنگی استاندارد شده توزیع شده توزیع شده است.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-layer-group fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">مرحله 3</span>
                                    <h3 class="h5 mb-2">پروتوتایپ محصول</h3>
                                    <p>روش های تست شفاف شفاف به صورت تعاملی
                                        ابتکارات مهارت های مدیریت را مدیریت می کند.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4 mb-lg-0">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="far fa-truck fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">مرحله 4</span>
                                    <h3 class="h5 mb-2">تحویل محصول نهایی</h3>
                                    <p>به طرز چشمگیری معیارهای پیشرونده توزیع شده را بدون خطا در سطح جهانی ساده پخش می
                                        کند
                                        هماهنگی استاندارد شده.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--our work process end-->

        <!--testimonial section start-->
        <section class="testimonial-section bg-dark ptb-120">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-warning">هم‌تیمی‌ها</h4>
                            <h2>اعضای تیم عارضه یابی شریف</h2>
                            <p> منحصر به فرد ترویج بردارهای با کیفیت انطباق به جای بازارهای الکترونیکی مستقل معماری های
                                جایگزین در حالی که تکرار می شود. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100">
                            <div class="swiper-container testimonialSwiper">
                                <div class="swiper-wrapper">

                                    {% for team_member in team_members %}
                                        <div class="swiper-slide bg-custom-light text-white p-5 rounded-custom position-relative">
                                            <img src="{% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes"
                                                 width="100"
                                                 class="img-fluid position-absolute right-0 top-0 z--1 p-3">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="{{ team_member.image.url }}"
                                                     class="img-fluid me-3 rounded"
                                                     width="60" alt="user">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{ team_member.name }}</h6>
                                                    <small>{{ team_member.about }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <span class="swiper-button-next"></span>
                            <span class="swiper-button-prev"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--testimonial section end-->

        <!--integration section start-->
        <section class="integration-section bg-light ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">ادغام</h4>
                            <h2> ما با شرکت نرم افزاری برتر همکاری می کنیم </h2>
                            <p>به طور پویا دنبال همگرایی به جای 24/7 پیشرفت فرآیند
                                آیتم های خدمات خدمات مشتری پایان دادن به پایان را توسعه دهید.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="text-lg-end mb-5 mb-lg-0">
                            <a href="{% url 'us:customers' %}" class="btn btn-primary"> مشاهده تمام مشتریان </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="integration-wrapper position-relative w-100">
                            <ul class="integration-list list-unstyled mb-0">
                                {% for customer in customers %}
                                    <li>
                                        <a href="{% url 'us:customer' customer.slug %}" class="no-underline">
                                            <div class="single-integration">
                                                <img src="{{ customer.icon.url }}" alt="integration"
                                                     class="img-fluid">
                                                <h6 class="mb-0 mt-4 no-underline">{{ customer.name }}</h6>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--integration section end-->


        <!--cat subscribe start-->
        <section class="cta-subscribe bg-dark ptb-120 position-relative overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="subscribe-info-wrap text-center position-relative z-2">
                            <div class="section-heading">
                                <h4 class="h5 text-warning">بیایید امتحان کنیم دریافت پشتیبانی رایگان</h4>
                                <h2> شروع آزمایشی رایگان 14 روزه </h2>
                                <p>ما می توانیم به شما کمک کنیم تا وب سایت رویای خود را برای درآمد ایجاد کنید.</p>
                            </div>
                            <div class="form-block-banner mw-60 m-auto mt-5">
                                <a href="#" class="btn btn-primary">تماس با ما</a>
                                <a href="#"
                                   class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn ms-lg-3 ms-md-3 mt-3 mt-lg-0">
                                    <i class="fas fa-play"></i> تماشای نسخه ی نمایشی </a>
                            </div>
                            <ul class="nav justify-content-center subscribe-feature-list mt-4">
                                <li class="nav-item">
                                    <span><i
                                            class="far fa-check-circle text-primary me-2"></i>امتحان 14 روزه رایگان</span>
                                </li>
                                <li class="nav-item">
                                <span><i
                                        class="far fa-check-circle text-primary me-2"></i>بدون نیاز به کارت اعتباری</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i> پشتیبانی 24/7</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i>حذف در هر زمان</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning left-5"></div>
            </div>
        </section>
        <!--cat subscribe end-->

    </div>
    <!--main content wrapper end-->

    {% include 'includes/footer.html' %}

{% endblock %}
