{% extends 'base.html' %}
{% load ratings %}
{% load filters %}
{% load static %}
{% load hitcount_tags %}

{% block content %}

    <!--main content wrapper start-->
    <div class="main-wrapper">

        {% include 'includes/header.html' %}

        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat bottom right">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-12">
                        <h1 class="fw-bold display-5">{{ weblog.title }}</h1>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--blog details section start-->
        <section class="blog-details ptb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-8 pe-5">
                        <div class="blog-details-wrap">
                            <img src="{{ weblog.cover_image.url }}" class="img-fluid mt-4 rounded-custom"
                                 alt="apply">
                            <div class="job-details-info mt-5">
                                {{ weblog.content|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="author-wrap text-center bg-light p-5 sticky-sidebar rounded-custom mt-5 mt-lg-0">
                            <div class="blog-single-rating-post slider-parent-2">
                                <h6 class="h5">این وبلاگ چقدر براتون مفید بود؟</h6>
                                <br>
                                <div>
                                    {% ratings weblog %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--blog details section end-->

        <!--related blog start-->
        <section class="related-blog-list ptb-120 bg-light">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">وبلاگ‌های مشابه <h2 class="text-primary">عارضه یابی شریف</h2>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="text-start text-lg-end mb-4 mb-lg-0 mb-xl-0">
                            <a href="{% url 'weblog:all' %}" class="btn btn-primary">مشاهده همه وبلاگ‌ها</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for weblog in related_weblogs %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                <a href="{% url 'weblog:detail' weblog.slug %}" class="article-img">
                                    <img src="{{ weblog.cover_image.url }}" alt="article" class="img-fluid">
                                </a>
                                <div class="article-content p-4">
                                    <a href="{% url 'weblog:detail' weblog.slug %}">
                                        <h2 class="h5 article-title limit-2-line-text">{{ weblog.title }}</h2>
                                    </a>
                                    <p class="limit-2-line-text">{{ weblog.content|safe|truncatechars:75 }}</p>

                                    <div class="d-flex align-items-center pt-4">
                                        {% if weblog.author.image %}
                                            <div class="avatar">
                                                <img src="{% static "img/testimonial/6.jpg" %}" alt="avatar" width="40"
                                                     class="img-fluid rounded-circle me-3">
                                            </div>
                                        {% else %}
                                            <div class="avatar">
                                                <img src="{% static "img/author.JPG" %}" alt="avatar" width="40"
                                                     class="img-fluid rounded-circle me-3">
                                            </div>
                                        {% endif %}
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">{{ weblog.author.full_name }}</h6>
                                            <span class="small fw-medium text-muted">{{ weblog.created_at|j_date_formatter }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--related blog end-->

        {% include 'includes/footer.html' %}

    </div>
    <!--main content wrapper end-->


{% endblock %}