{% load static %}

<!--header start-->
<header class="main-header w-100">
    <nav class="navbar navbar-expand-xl navbar-light sticky-header">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative">
            <a href="{% url 'home:home' %}" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="{% static 'img/logo-white.png' %}" alt="logo" class="img-fluid logo-white">
                <img src="{% static 'img/logo-color.png' %}" alt="logo" class="img-fluid logo-color">
            </a>

            <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop"
               role="button">
                    <span class="far fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
                          aria-controls="offcanvasWithBackdrop"></span>
            </a>

            <div class="collapse navbar-collapse justify-content-center">
                <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                    <li><a href="#" class="nav-link">خانه</a></li>
                    <li><a href="#" class="nav-link">خدمات</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">منابع</a>
                        <div class="dropdown-menu border-0 rounded-custom shadow-lg py-0 bg-white">
                            <div class="dropdown-grid rounded-custom width-full-3">
                                <div class="dropdown-grid-item">
                                    <h6 class="drop-heading">قابل استفاده مجدد</h6>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-bars"></i></span>
                                        <div class="drop-title">نویگیشن</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-browser"></i></span>
                                        <div class="drop-title">قسمت هرو</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-address-card"></i></span>
                                        <div class="drop-title">توصیفات</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-bolt"></i></span>
                                        <div class="drop-title">کال تو اکشن</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-eject"></i></span>
                                        <div class="drop-title">استایل تب</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-code-branch"></i></span>
                                        <div class="drop-title">استایل سرویس</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-hourglass-start"></i></span>
                                        <div class="drop-title">پروسه کاری</div>
                                    </a>
                                </div>
                                <div class="dropdown-grid-item">
                                    <h6 class="drop-heading">قابل استفاده مجدد</h6>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-usd-square"></i></span>
                                        <div class="drop-title">استایل قیمت گذاری</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-th-list"></i></span>
                                        <div class="drop-title">آکاردیون</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-chart-network"></i></span>
                                        <div class="drop-title">ویژگی‌ها</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-closed-captioning"></i></span>
                                        <div class="drop-title">فوترها</div>
                                    </a>

                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-user"></i></span>
                                        <div class="drop-title">تیم ما</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-paper-plane"></i></span>
                                        <div class="drop-title">استایل ادغام</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-th-large"></i></span>
                                        <div class="drop-title">استایل بلاگ</div>
                                    </a>
                                </div>
                                <div class="dropdown-grid-item last-item bg-light radius-right-side">
                                    <a href="#"><img src="{% static 'img/feature-img3.jpg' %}" alt="add"
                                                     class="img-fluid rounded-custom"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="nav-link">قیمت گذاری</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">شرکت</a>
                        <div class="dropdown-menu border-0 rounded-custom shadow-lg py-0 bg-white">
                            <div class="dropdown-grid rounded-custom width-full">
                                <div class="dropdown-grid-item">
                                    <h6 class="drop-heading">لینک های مفید</h6>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-fingerprint"></i></span>
                                        <div class="drop-title">درباره ما</div>
                                    </a>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-address-book"></i></span>
                                        <div class="drop-title">ارتباط با ما</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-code-branch"></i></span>
                                        <div class="drop-title">خدمات</div>
                                    </a>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-server"></i></span>
                                        <div class="drop-title">سرویس</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-th-large"></i></span>
                                        <div class="drop-title">آخرین اخبار</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-bars"></i></span>
                                        <div class="drop-title">جزییات خبر</div>
                                    </a>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-graduation-cap"></i></span>
                                        <div class="drop-title">مشاغل</div>
                                    </a>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-user-graduate"></i></span>
                                        <div class="drop-title">جزییات شغل</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-rocket-launch"></i></span>
                                        <div class="drop-title">ادغام</div>
                                    </a>
                                    <a href="#" class="dropdown-link px-0">
                                        <span class="me-2"><i class="far fa-paper-plane"></i></span>
                                        <div class="drop-title">جزییات ادغام</div>
                                    </a>
                                </div>
                                <div class="dropdown-grid-item radius-right-side bg-light">
                                    <h6 class="drop-heading">صفحات مفید </h6>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-code-branch"></i></span>
                                        <div class="drop-title">راهنمای استایل</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-life-ring"></i></span>
                                        <div class="drop-title">مرکز راهنما</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-headset"></i></span>
                                        <div class="drop-title">جزییات راهنمایی</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-laptop-code"></i></span>
                                        <div class="drop-title">درخواست برای پیشنمایش</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-sign-in"></i></span>
                                        <div class="drop-title">ورود کاربر</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-user-plus"></i></span>
                                        <div class="drop-title">ثبت نام کاربر</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-trash-undo"></i></span>
                                        <div class="drop-title">بازگردانی اکانت</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-exclamation-triangle"></i></span>
                                        <div class="drop-title">404 صفحه</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-clock"></i></span>
                                        <div class="drop-title">به زودی</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            {% if request.user.is_authenticated %}
                <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                    <a href="{% url 'account:logout' %}" class="btn btn-danger">خروج از حساب کاربری</a>
                </div>
            {% else %}
                <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                    <a href="{% url 'account:login' %}" class="btn btn-primary">ورود</a>
                    <a href="{% url 'account:register' %}" class="btn btn-warning">ثبت نام</a>
                </div>
            {% endif %}

            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="#" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'img/logo-color.png' %}" alt="logo" class="img-fluid ps-2">
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas"
                            aria-label="Close"><i class="far fa-close"></i></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                خانه
                            </a>
                            <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                                <div class="dropdown-grid rounded-custom width-half">
                                    <div class="dropdown-grid-item">
                                        <h6 class="drop-heading">خانه های متفاوت</h6>
                                        <a href="#" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">1</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">شرکت ساس 1</div>
                                                <p> برای <strong> شرکت نرم افزاری </strong> ساس</p>
                                            </div>
                                        </a>
                                        <a href="index-2.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">2</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">شرکت ساس 2</div>
                                                <p> ساس <strong> مدرن شرکتی </strong></p>
                                            </div>
                                        </a>
                                        <a href="index-3.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">3</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">اپلیکیشن دسکتاپ</div>
                                                <p><strong>شرکت</strong> نرم افزاری وب</p>
                                            </div>
                                        </a>
                                        <a href="index-4.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">4</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">اپ لندینگ</div>
                                                <p>اپ و <strong>نرم افزار</strong> لندینگ </p>
                                            </div>
                                        </a>
                                        <a href="index-5.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">5</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">اپلیکیشن نرم افزاری</div>
                                                <p>راه حل های ای تی <strong>اپ ساس</strong></p>
                                            </div>
                                        </a>

                                        <a href="index-6.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">6</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">شرکت استارت اپ</div>
                                                <p>نوع متفاوتی از <strong>شرکت</strong></p>
                                            </div>
                                        </a>
                                        <a href="index-7.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">7</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">آنالیز داده</div>
                                                <p>شرکت <strong>نرم افزار و </strong>آنالیز داده </p>
                                            </div>
                                        </a>
                                        <a href="index-8.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">8</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">اپ لندینگ دو</div>
                                                <p>شرکت <strong>نرم افزار و </strong>آنالیز داده </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="nav-link">خدمات</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">منابع</a>
                            <div class="dropdown-menu border-0 rounded-custom shadow-lg py-0 bg-white">
                                <div class="dropdown-grid rounded-custom width-full-3">
                                    <div class="dropdown-grid-item">
                                        <h6 class="drop-heading">قابل استفاده مجدد</h6>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-bars"></i></span>
                                            <div class="drop-title">نویگیشن</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-browser"></i></span>
                                            <div class="drop-title">قسمت هرو</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-address-card"></i></span>
                                            <div class="drop-title">توصیفات</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-bolt"></i></span>
                                            <div class="drop-title">کال تو اکشن</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-eject"></i></span>
                                            <div class="drop-title">استایل تب</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-code-branch"></i></span>
                                            <div class="drop-title">استایل سرویس</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-hourglass-start"></i></span>
                                            <div class="drop-title">پروسه کاری</div>
                                        </a>
                                    </div>
                                    <div class="dropdown-grid-item">
                                        <h6 class="drop-heading">قابل استفاده مجدد</h6>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-usd-square"></i></span>
                                            <div class="drop-title">استایل قیمت گذاری</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-th-list"></i></span>
                                            <div class="drop-title">آکاردیون</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-chart-network"></i></span>
                                            <div class="drop-title">ویژگی‌ها</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-closed-captioning"></i></span>
                                            <div class="drop-title">فوترها</div>
                                        </a>

                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-user"></i></span>
                                            <div class="drop-title">تیم ما</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-paper-plane"></i></span>
                                            <div class="drop-title">استایل ادغام</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-th-large"></i></span>
                                            <div class="drop-title">استایل بلاگ</div>
                                        </a>
                                    </div>
                                    <div class="dropdown-grid-item last-item bg-light radius-right-side">
                                        <a href="#"><img src="{% static 'img/feature-img3.jpg' %}" alt="add"
                                                         class="img-fluid rounded-custom"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="nav-link">قیمت گذاری</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">شرکت</a>
                            <div class="dropdown-menu border-0 rounded-custom shadow-lg py-0 bg-white">
                                <div class="dropdown-grid rounded-custom width-full">
                                    <div class="dropdown-grid-item">
                                        <h6 class="drop-heading">لینک های مفید</h6>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-fingerprint"></i></span>
                                            <div class="drop-title">درباره ما</div>
                                        </a>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-address-book"></i></span>
                                            <div class="drop-title">ارتباط با ما</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-code-branch"></i></span>
                                            <div class="drop-title">خدمات</div>
                                        </a>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-server"></i></span>
                                            <div class="drop-title">سرویس</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-th-large"></i></span>
                                            <div class="drop-title">آخرین اخبار</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-bars"></i></span>
                                            <div class="drop-title">جزییات خبر</div>
                                        </a>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-graduation-cap"></i></span>
                                            <div class="drop-title">مشاغل</div>
                                        </a>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-user-graduate"></i></span>
                                            <div class="drop-title">جزییات شغل</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-rocket-launch"></i></span>
                                            <div class="drop-title">ادغام</div>
                                        </a>
                                        <a href="#" class="dropdown-link px-0">
                                            <span class="me-2"><i class="far fa-paper-plane"></i></span>
                                            <div class="drop-title">جزییات ادغام</div>
                                        </a>
                                    </div>
                                    <div class="dropdown-grid-item radius-right-side bg-light">
                                        <h6 class="drop-heading">صفحات مفید </h6>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-code-branch"></i></span>
                                            <div class="drop-title">راهنمای استایل</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-life-ring"></i></span>
                                            <div class="drop-title">مرکز راهنما</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-headset"></i></span>
                                            <div class="drop-title">جزییات راهنمایی</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-laptop-code"></i></span>
                                            <div class="drop-title">درخواست برای پیشنمایش</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-sign-in"></i></span>
                                            <div class="drop-title">ورود کاربر</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-user-plus"></i></span>
                                            <div class="drop-title">ثبت نام کاربر</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-trash-undo"></i></span>
                                            <div class="drop-title">بازگردانی اکانت</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-exclamation-triangle"></i></span>
                                            <div class="drop-title">404 صفحه</div>
                                        </a>
                                        <a href="#" class="dropdown-link">
                                            <span class="me-2"><i class="far fa-clock"></i></span>
                                            <div class="drop-title">به زودی</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    {% if request.user.is_authenticated %}
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:logout' %}" class="btn btn-outline-danger me-2">خروج از حساب
                                کاربری</a>
                        </div>
                    {% else %}
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:login' %}" class="btn btn-outline-primary me-2">ورود</a>
                        </div>
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:register' %}" class="btn btn-outline-warning me-2">ثبت نام</a>
                        </div>
                    {% endif %}

                </div>
            </div>
            <!--offcanvas menu end-->
        </div>
    </nav>
</header>
<!--header end-->