{% load static %}

<!--header start-->
<header class="main-header w-100">
    <nav class="navbar navbar-expand-xl navbar-light sticky-header">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative">
            <a href="{% url 'home:home' %}" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="{% static 'img/logo-white.png' %}" alt="logo" class="img-fluid logo-white">
                <img src="{% static 'img/logo-color.png' %}" alt="logo" class="img-fluid logo-color">
            </a>

            <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop"
               role="button">
                    <span class="far fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
                          aria-controls="offcanvasWithBackdrop"></span>
            </a>

            <div class="collapse navbar-collapse justify-content-center">
                <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                    <li><a href="{% url 'home:home' %}" class="nav-link">خانه</a></li>
                    <li><a href="{% url 'diagnose:form' %}" class="nav-link">فرم عارضه یابی</a></li>
                    <li><a href="{% url 'weblog:all' %}" class="nav-link">وبلاگ‌ها</a></li>
                    <li><a href="{% url 'news:all' %}" class="nav-link">اخبار</a></li>
                    <li><a href="{% url 'us:about' %}" class="nav-link">درباره ما</a></li>
                    <li><a href="{% url 'us:contact' %}" class="nav-link">ارتباط با ما</a></li>
                    <li><a href="{% url 'us:faqs' %}" class="nav-link">سوالات متداول</a></li>
                </ul>
            </div>

            {% if request.user.is_authenticated %}
                <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                    <a href="{% url 'account:logout' %}" class="btn btn-danger">خروج از حساب کاربری</a>
                </div>
            {% else %}
                <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                    <a href="{% url 'account:login' %}" class="btn btn-primary">ورود</a>
                    <a href="{% url 'account:register' %}" class="btn btn-warning">ثبت نام</a>
                </div>
            {% endif %}

            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="#" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'img/logo-color.png' %}" alt="logo" class="img-fluid ps-2">
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas"
                            aria-label="Close"><i class="far fa-close"></i></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li><a href="{% url 'home:home' %}" class="nav-link">خانه</a></li>
                        <li><a href="{% url 'diagnose:form' %}" class="nav-link">فرم عارضه یابی</a></li>
                        <li><a href="{% url 'weblog:all' %}" class="nav-link">وبلاگ‌ها</a></li>
                        <li><a href="{% url 'news:all' %}" class="nav-link">اخبار</a></li>
                        <li><a href="{% url 'us:about' %}" class="nav-link">درباره ما</a></li>
                        <li><a href="{% url 'us:contact' %}" class="nav-link">ارتباط با ما</a></li>
                        <li><a href="{% url 'us:faqs' %}" class="nav-link">سوالات متداول</a></li>

                    </ul>

                    {% if request.user.is_authenticated %}
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:logout' %}" class="btn btn-outline-danger me-2">خروج از حساب
                                کاربری</a>
                        </div>
                    {% else %}
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:login' %}" class="btn btn-outline-primary me-2">ورود</a>
                        </div>
                        <div class="action-btns mt-4 pe-3">
                            <a href="{% url 'account:register' %}" class="btn btn-outline-warning me-2">ثبت نام</a>
                        </div>
                    {% endif %}

                </div>
            </div>
            <!--offcanvas menu end-->
        </div>
    </nav>
</header>
<!--header end-->