{% load static %}

<!--promo section start-->
<section class="promo-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h2>مشتریان ما نتایج را دریافت می کنند</h2>
                    <p>به تدریج کاتالیزورهای موقعیت یابی بازار را برای تغییر و از لحاظ فنی به کار می گیرد.
                        اقتدارگرا با سازگار با عقب
                        خدمات الکترونیکی </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4 mt-lg-0 mt-md-0">
                <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom">
                    <div class="promo-card-info mb-4">
                        <h3 class="display-5 fw-bold mb-4"><i class="far fa-fingerprint text-warning me-2"></i>
                            10x
                        </h3>
                        <p>بهترین شیوه های متمایز را پس از داخلی و یا در حالی که لبه
                            پیشرفت های فرآیند</p>
                    </div>
                    <div class="mt-auto">
                        <img src="{% static "img/clients/client-logo-4.svg" %}" width="120" alt="clients"
                             class="img-fluid me-auto customer-logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-lg-0 mt-md-0">
                <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom">
                    <div class="promo-card-info mb-4">
                        <h3 class="display-5 fw-bold mb-4"><i class="far fa-paper-plane text-warning me-2"></i>
                            5k
                        </h3>
                        <p>به طرز وحشیانه ای بهترین شیوه های متمایز را در بر میگیرد داخلی یا در حالی که
                            پیشرفت های فرآیند </p>
                    </div>
                    <div class="mt-auto">
                        <img src="{% static "img/clients/client-logo-2.svg" %}" width="120" alt="clients"
                             class="img-fluid me-auto customer-logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom">
                    <div class="promo-card-info mb-4">
                        <h3 class="display-5 fw-bold mb-4"><i
                                class="far fa-chart-pie-alt text-warning me-2"></i>
                            95%</h3>
                        <p>بهترین شیوه های متمایز پس از سندیکای داخلی یا در حالی که فرآیند خونریزی لبه
                            بهبود. </p>
                    </div>
                    <div class="mt-auto">
                        <img src="{% static "img/clients/client-logo-3.svg" %}" width="120" alt="clients"
                             class="img-fluid me-auto customer-logo">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--promo section end-->