<!--cat subscribe start-->
<section class="cta-subscribe bg-dark ptb-120 position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="subscribe-info-wrap text-center position-relative z-2">
                    <div class="section-heading">
                        <h4 class="h5 text-warning">شنبه دیره!</h4>
                        <h2> همین امروز شرکت خود را عارضه یابی کنید. </h2>
                        <p>با آپلود یک فرم ساده، شرکت خود را بهبود ببخشید!</p>
                    </div>
                    <div class="form-block-banner mw-60 m-auto mt-5">
                        <a href="{% url 'diagnose:form' %}" class="btn btn-primary">فرم عارضه یابی</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
        <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning left-5"></div>
    </div>
</section>
<!--cat subscribe end-->