{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <!--main content wrapper start-->
    <div class="main-wrapper">

        {% include 'includes/header.html' %}

        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat bottom right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h1 class="display-5 fw-bold">ارتباط با ما</h1>
                        <p class="lead">به طور یکپارچه کاربران مبتنی بر مشتری را پس از داده های ارزش خارج از جعبه از
                            طریق تخصص اصطکاک به دست می آورند.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--contact us promo section start-->
        <section class="contact-promo ptb-120">
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                            <span class="fad fa-phone fa-3x text-primary"></span>
                            <div class="contact-promo-info mb-4">
                                <h5>تماس بگیرید</h5>
                                <p>از شنبه تا چهارشنبه ۸ الی ۱۶</p>
                            </div>
                            <a href="tel:{{ social_media.phone_1 }}"
                               class="btn btn-link mt-auto">{{ social_media.phone_1 }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                            <span class="fad fa-phone fa-3x text-primary"></span>
                            <div class="contact-promo-info mb-4">
                                <h5>تماس بگیرید</h5>
                                <p>از شنبه تا چهارشنبه ۸ الی ۱۶</p>
                            </div>
                            <a href="tel:{{ social_media.phone_2 }}"
                               class="btn btn-link mt-auto">{{ social_media.phone_2 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact us promo section end-->

        <!--contact us form start-->
        <section class="contact-us-form pt-60 pb-120"
                 style="background: url('assets/img/shape/contact-us-bg.svg')no-repeat center bottom">
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-heading">
                            <h2>سوال خاصی ذهنتان را درگیر کرده؟</h2>
                            <p>با تیم پشتیبانی عارضه یابی شریف مشورت کنید تا بهترین راهنمایی را خدمتتان ارائه دهند.</p>
                        </div>

                        <form method="post" class="register-form">
                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="phone" class="mb-1">شماره تماس<span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        {{ form.mobile_phone|attr:"class:form-control"|attr:"type:number" }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="email" class="mb-1">آدرس ایمیل<span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        {{ form.email|attr:"class:form-control"|attr:"type:email" }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label for="firstName" class="mb-1">نام و نام خانوادگی <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        {{ form.full_name|attr:"class:form-control" }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="yourMessage" class="mb-1">پیام<span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        {{ form.message|attr:"class:form-control"|attr:"style:height:120px" }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4">در تماس باشید</button>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-10">
                        <div class="contact-us-img">
                            <img src="{% static 'img/contact-us-img-2.svg' %}" alt="contact us" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact us form end-->


        {% include 'includes/footer.html' %}

    </div>
    <!--main content wrapper end-->

{% endblock %}
