{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <!--preloader start-->
    <div id="preloader">
        <div class="preloader-wrap">
            <img src="{% static "img/favicon.png" %}" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->

    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat left bottom">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-8 col-12">
                        <a href="#" class="mb-4 d-block text-center"><img src="{% static "img/logo-white.png" %}"
                                                                          alt="logo" class="img-fluid"></a>
                        <div class="register-wrap p-5 bg-light shadow rounded-custom">

                            <form action="" method="post" class="mt-5 register-form">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="email" class="mb-1">{{ form.password.label }}<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group mb-3">
                                            {{ form.password|attr:"class:form-control"|attr:"placeholder:رمز عبور خود را وارد کنید" }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="email" class="mb-1">{{ form.password_repeat.label }}<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group mb-3">
                                            {{ form.password_repeat|attr:"class:form-control"|attr:"placeholder:رمز عبور خود را دوباره وارد کنید" }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-3 d-block w-100">تغییر رمز عبور
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->
    </div>
    <!--main content wrapper end-->
{% endblock %}