{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat left bottom">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-8 col-12">
                        <a href="{% url 'home:home' %}" class="mb-4 d-block text-center"><img src="{% static "img/logo-white.png" %}"
                                                                          alt="logo" class="img-fluid"></a>
                        <div class="register-wrap p-5 bg-light shadow rounded-custom">
                            <h1 class="h3">اعتبار سنجی کد تایید</h1>
                            <p class="text-muted">یک کد تایید به شماره تلفن {{ request.GET.mobile_phone }} ارسال شد.</p>
                            <form action="" method="post" class="mt-5 register-form">
                                {% csrf_token %}

                                {{ form.sms_code.errors }}

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="email" class="mb-1">{{ form.sms_code.label }}<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group mb-3">
                                            {{ form.sms_code|attr:"class:form-control"|attr:"placeholder:کد تایید را وارد کنید" }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-4 d-block w-100">تایید
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->
    </div>
    <!--main content wrapper end-->
{% endblock %}