{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <!--main content wrapper start-->
    <div class="main-wrapper">
        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat left bottom">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-8 col-12">
                        <a href="{% url 'home:home' %}" class="mb-4 d-block text-center"><img
                                src="{% static "img/logo-white.png" %}"
                                alt="logo" class="img-fluid"></a>
                        <div class="register-wrap p-5 bg-light shadow rounded-custom">
                            <h1 class="h3">به عارضه یابی شریف خوش آمدید</h1>
                            <form action="{% url 'account:login' %}" class="mt-4 register-form" method="post">
                                {% csrf_token %}

                                <div>
                                    {% if form.none_field_errors %}
                                        <p>{{ form.none_field_errors }}</p>
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="email" class="mb-1">{{ form.mobile_phone.label }}<span
                                                class="text-danger">*</span></label>
                                        <div>
                                            {% if form.mobile_phone.errors %}
                                                <p>{{ form.mobile_phone.errors }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="input-group mb-3">
                                            {{ form.mobile_phone|attr:"class:form-control"|attr:"placeholder:شماره تلفن"|attr:"type:number" }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="password" class="mb-1">{{ form.password.label }}<span
                                                class="text-danger">*</span></label>
                                        <div>
                                            {% if form.password.errors %}
                                                <p>{{ form.password.errors }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="input-group mb-3">
                                            {{ form.password|attr:"class:form-control"|attr:"placeholder:رمز عبور"|attr:"type:password" }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-3 d-block w-100">ورود</button>
                                    </div>
                                </div>
                                <p class="font-monospace fw-medium text-center text-muted mt-3 pt-4 mb-0"> حساب کاربری
                                    ندارید؟ <a href="{% url 'account:register' %}" class="text-decoration-none">ثبت نام
                                        کنید</a>
                                    <br>
                                    <a href="{% url 'account:forget_password' %}" class="text-decoration-none"> رمز عبور
                                        را فراموش کرده ام</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->
    </div>
    <!--main content wrapper end-->
{% endblock %}