{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60"
                 style="background: url('assets/img/page-header-bg.svg')no-repeat left bottom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-12">
                        <div class="pricing-content-wrap bg-custom-light rounded-custom shadow-lg">
                            <div class="price-feature-col pricing-feature-info text-white left-radius p-5 order-1 order-lg-0">
                                <a href="{% url 'home:home' %}" class="mb-5 d-none d-xl-block d-lg-block"><img
                                        src="{% static "img/logo-white.png" %}" alt="logo" class="img-fluid"></a>
                                <div class="customer-testimonial-wrap mt-60">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="testimonial-tab-1" role="tabpanel">
                                            <div class="testimonial-tab-content mb-4">
                                                <div class="mb-2">
                                                    <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                        <li class="list-inline-item"><i
                                                                class="fas fa-star text-warning"></i></li>
                                                        <li class="list-inline-item"><i
                                                                class="fas fa-star text-warning"></i></li>
                                                        <li class="list-inline-item"><i
                                                                class="fas fa-star text-warning"></i></li>
                                                        <li class="list-inline-item"><i
                                                                class="fas fa-star text-warning"></i></li>
                                                        <li class="list-inline-item"><i
                                                                class="fas fa-star text-warning"></i></li>
                                                    </ul>
                                                </div>
                                                <blockquote>
                                                    <h5>بهترین قالبی که میتوانید داشته باشید</h5>
                                                    در سراسر جهان طرح های بلندمدت بالا در سراسر جهان با تجارت الکترونیک
                                                    متمایز
                                                    زیرساخت های متقاطع رسانه ای به جای همبستگی های اخلاقی اخلاقی به جای
                                                    جهانی.
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-feature-col pricing-action-info p-5 left-radius bg-light order-0 order-lg-1">
                                <a href="{% url 'home:home' %}" class="mb-5 d-block d-xl-none d-lg-none"><img
                                        src="{% static "img/logo-color.png" %}" alt="logo" class="img-fluid"></a>
                                <h1 class="h3">یک حساب کاربری ایجاد کنید</h1>
                                <p class="text-muted">با ایجاد حساب کاربری در وب‌سایت ما، خیلی سریع‌تر به اهداف شرکت خود
                                    برسید...</p>

                                <form action="{% url 'account:register' %}" method="post" class="mt-5 register-form">
                                    {% csrf_token %}

                                    <div>
                                        {% if form.non_field_errors %}
                                            <p>{{ form.non_field_errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {% if form.mobile_phone.errors %}
                                            <p>{{ form.mobile_phone.errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {% if form.full_name.errors %}
                                            <p>{{ form.full_name.errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {% if form.company_name.errors %}
                                            <p>{{ form.company_name.errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {% if form.password.errors %}
                                            <p>{{ form.password.errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {% if form.password_repeat.errors %}
                                            <p>{{ form.password_repeat.errors }}</p>
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label for="name" class="mb-1"> {{ form.mobile_phone.label }} <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                {{ form.mobile_phone|attr:"class:form-control"|attr:"placeholder:شماره تلفن"|attr:"type:number" }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="name" class="mb-1"> {{ form.full_name.label }} <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                {{ form.full_name|attr:"class:form-control"|attr:"placeholder:نام و نام خانوادگی"|attr:"type:text" }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="name" class="mb-1"> {{ form.company_name.label }} <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                {{ form.company_name|attr:"class:form-control"|attr:"placeholder:نام شرکت"|attr:"type:text" }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="name" class="mb-1"> {{ form.password.label }} <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                {{ form.password|attr:"class:form-control"|attr:"placeholder:رمز عبور"|attr:"type:password" }}
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <label for="name" class="mb-1"> {{ form.password_repeat.label }} <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                {{ form.password_repeat|attr:"class:form-control"|attr:"placeholder:تکرار رمز عبور"|attr:"type:password" }}
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary mt-4 d-block w-100">ورود
                                            </button>
                                        </div>
                                    </div>
                                    <div class="position-relative d-flex align-items-center justify-content-center mt-4 py-4">
                                        <span class="divider-bar"></span>
                                        <h6 class="position-absolute text-center divider-text bg-light mb-0">یا</h6>
                                    </div>
                                    <p class="text-center text-muted mt-4 mb-0 fw-medium font-monospace">در حال حاضر یک
                                        حساب
                                        کاربری دارید؟ <a href="{% url 'account:login' %}" class="text-decoration-none">ورود</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->

    </div>
    <!--main content wrapper end-->

{% endblock %}